body {
    height: 100vh;
    font-size: 16px;
}

/*div {
    background: orange;
    color : white;
}

div.class1 {
    background: blue;
    width: 200px;
    position: relative;
    z-index: 3;
}

div.class2 {
    width: 200px;
    position: absolute;
    background: red;
    left : 10px;
    top : 0;
    z-index: 2;
}
*/


/*header,
footer {
    width: 100%;
}*/

footer li {
    color : red;
}

header li {
    color : green;
    float: left;
}

header ul > li.active {
    color : orange;
}

header > ul li.active {
    color : blue;
}

header {
    position: relative;
}

.card {
    width: 20%;
    border: 1px dotted black;
    border-radius : 5px;
    background: #EEE;
    text-align: center;
    float: left;
}

.card div {
    background: white;
    padding: 10px;
}

.card > h1 {
    background : yellow;
}

.card .card {
    float: left;
}

.clear {
    clear: both;
}





