body {
    position: relative;
    padding: 10px;
}

.button {
    position: relative;
    color: black;
/*    background: #DEDEDE;*/
    padding: 3px 7px 3px 7px;
    text-align: center;
    font-size: 0.67em;
    font-family: Arial;
    border: 1px solid #9A9A9A;
    border-radius: 1.5px;
    background-image: linear-gradient(0, #DEDEDE, #EDEDED, #EDEDED, #EDEDED, #FFF);
}

.button:active {
    background-image: linear-gradient(0, #EDEDED, #EDEDED, #DEDEDE);
}

.button:hover {
/*    background: white;*/    
/*    background-image: -webkit-linear-gradient(0, #EDEDED, #EDEDED, #DEDEDE);
    background-image: -o-linear-gradient(0, #EDEDED, #EDEDED, #DEDEDE);*/
    border: 1px solid #555;
    cursor: default;
}

.button:before {
    content: var(--button-text);
}

label.button  {
    margin: 0;
    padding: 2px 7px;
    top : 0;
    left: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

label.button:checked  {
    background-image: linear-gradient(0, #EDEDED, #EDEDED, #DEDEDE);
    border: 1px solid green;
    color : green;
}

label > input:checked + .button.pretty-button {
    color : white;
    background: var(--button-color);
}

label input[type="checkbox"],
label input[type="radio"] {
    display: none;
}

.button.pretty-button {
    font-family: Arial;
    text-transform: uppercase;
    background: white;
    color : var(--button-color);
    border: 1px solid var(--button-color);
    border-radius: 3px;
    padding: 4px 7px;
    cursor: pointer;
    opacity: 0.8;
}


.button.pretty-button:hover,
input:checked {
    color : white;
    background: var(--button-color);
}

