.tab {
    position: relative;
    text-align: center;
    width: 400px;
    min-height: 200px;
    border: 1px solid #AAAA;
    padding : 10px;
    border-radius: 5px;
}

.tab label{
    display: inline-block;
}

.tab label section{
    position: absolute;
    top : 20%;
    left: 0;
}

.tab label>input:checked ~section{
    display: block;
}

.tab section {
    display: none;
    margin-top: 10px;
    width: 100%;
    padding: 10px
}

