.tab {
    position: relative;
    text-align: center;
    width: 400px;
    min-height: 200px;
    border: 1px solid #AAAA;
    padding : 10px;
    border-radius: 5px;
}

.tab section {
    display: none;
}

.tab input[type=checkbox]#read:checked ~section.read{
    display: block;
}

.tab input[type=checkbox]#create:checked ~section.create{
    display: block;
}

.tab input[type=checkbox]#update:checked ~section.update{
    display: block;
}

.tab input[type=checkbox]#delete:checked ~section.delete{
    display: block;
}

.tab section {
    margin-top: 10px;
    width: 100%;
}