:root {
    --danger : red;
    --success : green;
    --warning : orange;
    --info: #004085;
}

.button {
  --button-text: 'Button';
  --button-color: var(--info);
}

.button.read {
  --button-text: 'R';
  --button-color: var(--info);
}

.button.create {
  --button-text: 'C';
  --button-color: var(--success);
}

.button.update {
  --button-text: 'U';
  --button-color: var(--warning);
}

.button.delete {
  --button-text: 'D';  
  --button-color: var(--danger);
}
