body {
    position: relative;
    padding: 10px;
}

.button {
    position: relative;
    color: black;
    padding: 3px 7px 3px 7px;
    text-align: center;
    font-size: 0.67em;
    font-family: Arial;
    border: 1px solid #9A9A9A;
    border-radius: 1.5px;
    background-image: linear-gradient(0, #DEDEDE, #EDEDED, #EDEDED, #EDEDED, #FFF);
    z-index: 1;
}

.button:active {
    background-image: linear-gradient(0, #EDEDED, #EDEDED, #DEDEDE);
}

.button:hover {
    border: 1px solid #555;
    cursor: default;
}

.button:before {
    content: var(--button-text);
}


.button.pretty-button {
    font-family: Arial;
    text-transform: uppercase;
    background: white;
    color : var(--button-color);
    border: 1px solid var(--button-color);
    border-radius: 3px;
    padding: 4px 7px;
    cursor: pointer;
    opacity: 0.8;
}

.button.pretty-button:hover {
    color : white;
    background: var(--button-color);
}