form {
    position: relative;
    text-align: left;
    width: 100%;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    border-radius: 5px;
    border: 1px solid #CCC;
    text-indent: 20px;
    padding: 10px 0px;
    margin-bottom: 10px;
} 

form input {
    width: 100%;
}