ul.list {
    position: relative;
    margin-top : 56px;
    text-align: left;
    font-family: Helvetica;
    color : var(--primary);
}

ul.list > li {
    padding: 10px 20px;
    font-size: 0.8em;
    cursor: pointer;
}

ul.list > li.odd {
    background : #EEE;
}

ul.list > li:hover {
    background : #CCC;
}

ul.list > li a {
    float: right;
    text-decoration: none;
    color : var(--warning);
    display: none;
}

ul.list > li:hover a {
    display: inline;
}