.tab {
    position: relative;
    text-align: center;
    width: 400px;
    min-height: 400px;
    border: 1px solid #AAAA;
    padding : 10px;
    border-radius: 5px;
    overflow-y : overlay;
}

.tab label {
    display: inline-block;
}

.tab label section {
    position: absolute;
    top : 20%;
    left: 0;
}

.tab label > input:checked ~section {
    display: block;
}

.tab label > input:checked ~.button {
    color : white;
    background: var(--button-color);
}

.tab label input[type="checkbox"],
.tab label input[type="radio"] {
    display: none;
}

.tab section {
    display: none;
    margin-top: 10px;
    width: calc(100% - 22px);
    padding: 10px;
}

.tab section {
    display: none;
    margin-top: 10px;
    width: calc(100% - 22px);
    padding: 10px;
}