

h1 i{
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
    font-size: 3em;
}

article {
    text-align: left;
}

article h2 {
    border-bottom: 1px dotted var(--section-color);
    padding-bottom: 10px;
}

article p {
    padding-bottom: 15px;
}

article .button {
    text-align: center;
    width: auto;
}

.separator {
    position: relative;
    display: block;
    margin: 15px 0;
    top: 10px;
}


@media screen and (min-width: 640px) {
    .tab form {
        top: var(--content-offset-desktop-top);
        height : calc(100vh - 100px); 
        padding:20px 50px 40px 50px;
        overflow: overlay;
    }
}

.tab>nav #logo {
    background-image: none;
    text-decoration: none;
    font-size: 38px;
    width: 300px;
    text-align: left;
    color : var(--danger);
}

.tab>nav #logo small {
    font-size: 0.5em;
    color: var(--warning);
}