.tab.flex-module-container {
    overflow-y : hidden;
}

.tab.flex-module-container label {
    transition-property: all;
    transition-timing-function: ease-out;
    transition-delay: 1s;

}



.tab.flex-module-container .tab label > input:not(:checked) ~section>* {
    display: none;
}

/* Out */
.tab.flex-module-container>label > input:not(:checked) ~section {
    animation-duration: .8s;
    animation-name: slideToggleIn;
    opacity : 0;
}

/* In */
.tab.flex-module-container label > input:checked ~section {
    animation-duration: .8s;
    animation-name: slideToggleOut;
    opacity : 1;
}

@media screen and (max-width: 640px) {
  .tab.flex-module-container>label > input:not(:checked) ~section {
    animation-duration: 1.5s;
    animation-name: slideToggleHorizontalIn;
  }

  .tab.flex-module-container label > input:checked ~section {
    animation-duration: 1.5s;
    animation-name: slideToggleHorizontalOut;
  }
}

@keyframes fadeIn {
  from {
    opacity : 0;
  }

  to {
    opacity : 1;
  }
}

@keyframes fadeOut {
  from {
    opacity : 1;
  }

  to {
    opacity : 0;
  }
}

@keyframes slideIn {
  from {
    left : 100%;
  }

  to {
    left : 0;
  }
}

@keyframes slideOut {
  from {
    left : 0;
  }

  to {
    left : -100vw;
  }
}

@keyframes slideBottomTopIn {
  from {
    top : 100%;
    opacity : 1;
  }

  to {
    top : 0;
    opacity : 1;
  }
}

@keyframes slideBottomTopOut {
  from {
    top : 0;
    opacity : 1;
  }

  to {
    top : -100%;
    opacity : 1;
  }
}

@keyframes slideTopBottomIn {
  from {
    top : 0;
    opacity : 1;
  }

  to {
    top : 100%;
    opacity : 1;
  }
}

@keyframes slideTopBottomOut {
  from {
    top : -100%;
    opacity : 1;
  }

  to {
        top : 0;
    opacity : 1;

  }
}

@keyframes slideLeftOut {
  from {
    left : 100%;
    opacity : 1;
  }

  to {
    left : 0;
    opacity : 1;
  }
}

@keyframes slideLeftIn {
  from {
    left : 0;
    opacity : 1;
  }

  to {
    left : -100%;
    opacity : 1;
  }
}

@keyframes slideToggleOut {
  from {
    top : 100%;
    opacity : 1;
  }

  50% {
    top : 100%;
    opacity : 1;
  }

  to {
    top : var(--nav-height);
    opacity : 1;
  }
}


@keyframes slideToggleIn {
  from {
    top : var(--nav-height);
    opacity : 1;
  }

  50% {
    top : 100%;
    opacity : 1;
  }

  to {
    top : 100%;
    opacity : 1;
  }
}

@keyframes slideToggleHorizontalIn {
  from {
    left : 0;
    opacity : 1;
  }

  50% {
    left : -100%;
    opacity : 1;
  }

  to {
    left : -100%;
    opacity : 1;
  }
}


@keyframes slideToggleHorizontalOut {
  from {
    left : -100%;
    opacity : 1;
  }

  50% {
    left : 0;
    opacity : 1;
  }

  to {
    left : 0;
    opacity : 1;
  }
}


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }