:root {
    --success :  #34738f ;
    --primary:  #a5c548 ;
    --warning : #be3e2b;
    --danger :  #ed8a45;

    --font-size : 2em;
    --background :  #34738f;
    --default-color : #122f3d ;

    --nav-item-width : 10%;
    --nav-top : 100%;
    --nav-height : 60px;
    --nav-logo-width : 143px;
    --nav-logo-height : 38px;
    --nav-background : white;
    --nav-logo-inverse-color : 0;
    

    --content-width-desktop : 1024px;
    --content-offset-desktop-top : 20px;
    --content-background : white;
    --content-color : #122f3d;

}

.button {
  --button-color: var(--primary);
}

.button.create {
  --button-color: var(--success);
}

.button.read {
  --button-color: var(--primary);
}

.button.update {
  --button-color: var(--warning);
}

.button.delete { 
  --button-color: var(--danger);
}


/* Sections conf */

label[for='create']>section {
  --section-color: var(--success);
}

label[for='read']>section {
  --section-color: var(--primary);
}

label[for='update']>section {
  --section-color: var(--warning);
}

label[for='delete']>section  {
  --section-color: var(--danger);
}

/* Scroll bar */

label>section {
  --section-background-color: var(--success) !important;
}