:root {
    --danger : red;
    --success : green;
    --warning : orange;
    --primary: #004085;
}

.button {
  --button-color: var(--primary);
}

.button.create {
  --button-color: var(--success);
}

.button.read {
  --button-color: var(--primary);
}

.button.update {
  --button-color: var(--warning);
}

.button.delete { 
  --button-color: var(--danger);
}
