.button {
    position: relative;
    color: white;
    padding: 3px 7px 3px 7px;
    margin : 2px;
    text-align: center;
    font-size: 1em;
    font-family: Arial;
    border: 1px solid #9A9A9A;
    border-radius: 1.5px;
    background-image: linear-gradient(0, #DEDEDE, #EDEDED, #EDEDED, #EDEDED, #FFF);
}

.button:active {
    background-image: linear-gradient(0, #EDEDED, #EDEDED, #DEDEDE);
}

.button:hover {
    border: 1px solid #555;
    cursor: default;
}

.button:before {
    content: var(--button-text);
}


.button.pretty-button {
    font-family: 'Aloes-Rg';
    /*text-transform: uppercase;*/
    text-transform: none;
    background: white;
    color : var(--button-color);
    border: 1px solid var(--button-color);
    border-radius: 3px;
    padding: 4px 7px;
    cursor: pointer;
    opacity: 0.8;
    font-size: 0.9em;
}

.button.pretty-button:hover {
    color : white;
    background: var(--button-color);
}