.tab form {
    position: relative;
    text-align: center;
    background: var(--content-background);
    color : var(--content-color);
    box-shadow: 0px 0px 225px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    width: var(--content-width-desktop);
    padding: 0 50px;
}

.tab form input[type="text"],
.tab form input[type="email"],
.tab form input[type="password"],
.tab form textarea {
    border-radius: 5px;
    border: 1px solid #CCC;
    text-indent: 20px;
    padding: 10px 0px;
    margin-bottom: 10px;
}

.tab form textarea {
    width: calc(100% - 60px);
    text-indent: 0px;
    padding: 30px;
}

.tab form * {
    flex: 1 100%;
    width: 100%;
}

@media screen and (max-width: 640px) {
    .tab form {
        width: 100%;
        justify-content : left;
        margin: var(--nav-height) 0 0 0;;
        height: calc(100% - var(--nav-height));
        border-radius : 0 !important;
        overflow-y: scroll;
    }
}

@media screen and (min-width: 640px) {
    .tab form {
        top: var(--content-offset-desktop-top);
        height : calc(100vh - 100px); 
        padding:20px 50px 40px 50px;
        overflow: overlay;
/*        margin-bottom: 80px;*/
    }
}