ul.list {
    position: relative;
    text-align: left;
    font-family: Helvetica;
    color : var(--primary);
    background : #EEE;
    width: 100%;
    overflow-y: none;
}

ul.list > li {
    padding: 10px 20px;
    font-size: 0.8em;
    cursor: pointer;
    width: calc(100% - 40px);
}

ul.list > li.odd {
    background : white;
}

ul.list > li:hover {
    background : #CCC;
}

ul.list > li a {
    float: right;
    text-decoration: none;
    color : var(--warning);
    display: none;
}

ul.list > li:hover a {
    display: inline;
}