
/* Select children nav button*/
.tab label > nav.button {
    height: var(--nav-height);
    /* Hack for inlines*/ 
    line-height: var(--nav-height);
    background-color: black;
    z-index: 3;
}

/* Navbar props */
.tab>nav {
    position: absolute;
    height: var(--nav-height);
    width: 100%;
    background: var(--nav-background);
    z-index: 3;
}

/* Navbar logo */
.tab>nav #logo {
    position: absolute;
    width: var(--nav-logo-width);
    height: var(--nav-logo-height);
    margin: 0 20px;

    left: 0;
    /* Warning : Not supported by all navigators --> show can i use*/
    top : calc(50% - var(--nav-logo-height) / 2);

    background-image: url(https://exostic.com/images/logo.png);
    background-repeat: no-repeat;
    background-size: 143px var(--nav-logo-height);

    /* Inverse background color */ 
    filter : invert(var(--nav-logo-inverse-color));
}

/* Reset box model props for nav pretty buttons*/
.tab label > nav.button.pretty-button { 
    margin:0;
    border: none;
    background: none;
    font-weight: 500;
    font-size: 1.1em;
    color : var(--default-color);
}

.tab nav.button.pretty-button:hover,
.tab label > input:checked ~nav.button {
    color : var(--button-color);
}

@media screen and (max-width: 640px) {
  .tab label > nav.button.pretty-button {
    padding: 0;
    position: fixed;
    width: 25%;
  }

  .tab label > input:checked ~nav:after,
  .tab nav.button.pretty-button:before,
  .tab label > input:checked ~nav:before,
  .tab nav.button.pretty-button:after  {
      content : '';
  }

  .tab label > nav.button.pretty-button span {
    display: none;
  }

  .tab label > nav.button.pretty-button {
    top : calc(100% - var(--nav-height));
    background: var(--nav-background);
    border-radius: 0; 
    opacity: 1;
  }
}

@media screen and (min-width: 640px) {

  .tab label > nav.button.pretty-button {
    padding: 0 25px;
  }

  .tab label > nav.button.pretty-button:after,
  .tab label > nav.button.pretty-button:before {
      color : var(--default-color);
  }

  .tab label > nav.button.pretty-button span {
      font-size: 0.8em;
  }

  .tab label > nav.button.pretty-button i {
    display: none;
  }

  .tab label > input:not(:checked) ~nav:after,
  .tab label > input:not(:checked) ~nav:before {
     color : var(--nav-background) !important;
     border-bottom: 10px solid var(--nav-background) !important;
  }

  /* Selected nav button*/
  .tab label > input:checked ~nav:after,
  .tab label > input:checked ~nav:before {
      color : var(--button-color) !important;
  }

/*  .tab label > input:checked ~nav:before,
  .tab label > nav.button.pretty-button:before {
      content : '.';
  }

  .tab label > nav.button.pretty-button:after {
      content : '.';
      display: inline-block;
      transform: rotate(180deg);
      position: relative;
      top : 5px;
  }
  
  .tab label > nav.button.pretty-button:before {
      content : '.';
      display: inline-block;
      transform: rotate(180deg);
      position: relative;
      top : 5px;
  }

  .tab label > input:checked ~nav:after {
      transform: rotate(0deg)  !important;
      top : -3px !important;
  }

  .tab label > input:checked ~nav:before{
      transform: rotate(0deg) !important;
      top : -3px !important;
  }*/

  .tab label > nav.button.pretty-button:after {
      content : '';
      display: inline-block;

      width: 0; 
      height: 0; 
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid var(--button-color);

      position: absolute;
      top: 0;
      left : 40%;
      transform: rotate(180deg) !important;
  }


  .tab label > input:not(:checked) ~nav:after {
      display: none;
  }

  .tab label > nav.button.pretty-button:before {
      content : '';
      display: inline-block;

      width: 0; 
      height: 0; 
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid var(--button-color);

      position: absolute;
      bottom: 0;
      left : 40%;
      transform: rotate(0deg) !important;
  }


  .tab label > input:not(:checked) ~nav:before {
      display: none;
  }

}


