.tab {
    position: relative;
    text-align: center;
    height: 100vh;
/*    border: 1px solid #AAAA;
*//*    padding : 10px;*/
/*    border-radius: 5px;*/
    overflow-y : overlay;
    overflow-x: hidden;
}

/* label position simple */
.tab label {
    display: inline-block;
}


.tab label section {
    position: absolute;
    left: 0;
    top : 0;
    width: 100%;  
    height: 100%;  

    opacity : 0;
    color : var(--section-color);
    background: var(--section-background-color);

}

.tab label > input:checked ~section > *{
    width: var(--content-width-desktop);
}

/* FLEX BOX 
 *-container position flexbox nav 
 */
    .tab.flex-module-container {
        display: flex;
    }

    .tab.flex-module-container label {
        display: flex;
        flex-flow: row wrap;
    }

    /* container position flexbox section */
    .tab.flex-module-container label > input ~section {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 0;
    }

    .tab.flex-module-container label > input:checked ~section {
        z-index: 2;
    }

    .tab.flex-module-container label > input[type="checkbox"]:checked ~article {
        display: block;
    }

    .tab.flex-module-container label > input[type="checkbox"]:not(:checked) ~article {
        display: none;
    }


    /* Change letters orders with flexbox */


    .tab .flex-module-item[for="create"] {
        order : 1;
    }

    .tab .flex-module-item[for="read"] {
        order : 2;
    }

    .tab .flex-module-item[for="update"] {
        order : 3;
    }

    .tab .flex-module-item[for="delete"] {
        order : 4;
    }

/** END FLEXBOX **/


/* Checked button color design */
.tab label > input:checked ~.button {
    color : var(--nav-item-default-font-color);
    background: var(--button-color);
}

.tab label input[type="checkbox"],
.tab label input[type="radio"] {
    display: none;
}

.tab label label {
    display: block;
}

@media screen and (max-width: 640px) {
    .tab.flex-module-container {
        flex-flow: row wrap;
        justify-content: space-evenly;
        flex-shrink: 0;
    }

    .tab.flex-module-container label > input ~section {
/*        margin-top: 30px;*/
        height: calc(100vh - var(--nav-height));  
    }

    .tab.flex-module-container label {
        flex: 1;
    }
}

@media screen and (min-width: 640px) {
    .tab.flex-module-container {
        flex-flow: row wrap;
        justify-content: flex-end; 
    }

    .tab.flex-module-container label > input ~section {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        top : var(--nav-height);
        z-index: 0;
        overflow-y: auto;
    }

    .tab.flex-module-container label {
        flex: 0 0 initial;
    }

    .tab label > nav {
        height: 1em;
        line-height: var(--nav-height);
        background-color: black;
    }
}