@font-face {
    font-family: pizarron;
    src: url(/fonts/pizarron.ttf);
}

@font-face {
    font-family: alt;
    src: url(/fonts/alt.ttf);
}

@font-face {
    font-family: in;
    src: url(/fonts/in.ttf);
}

@font-face {
    font-family: murder;
    src: url(/fonts/murder.ttf);
}
