.bg-yellow {
    background: linear-gradient(0deg, #664A39,#FACE80,#34A3DD);
}

.bg-red {
    background: linear-gradient(-45deg, #5A4E7C, #FDFDFB, #3B282B, #FFF0A3);
}

.bg-blue {
    background: linear-gradient(270deg, #7A872B, #362323, #765148, #23D5AB);
}

.bg-green {
    background: linear-gradient(45deg, #DB9F70, #495D6A, #898788, #23D5AB);
}  


/*.bg-blue {
    background-size: 200% 200%;
    -webkit-animation: Gradient 5s ease infinite;
    -moz-animation: Gradient 5s ease infinite;
    animation: Gradient 5s ease infinite;
}*/

/*.bg-yellow img {
     filter: invert(.5) sepia(1) saturate(100) hue-rotate(144deg) contrast(100) brightness(69);
}


.bg-red img {
    filter: invert(.5) sepia(1) saturate(100) hue-rotate(355deg) contrast(100) brightness(100);
}


.bg-green img {
     filter: invert(.5) sepia(1) saturate(100) hue-rotate(144deg) contrast(100) brightness(69);
}




.bg-blue img {
    filter: invert(.5) sepia(1) saturate(100) hue-rotate(221deg) contrast(100) brightness(82);
}*/