main#home {
    display: none;
}

main#home section.card {
    position : relative; /* should be relative to posit*/
    float: left; /* Leftmost */

    /* Dimension */
    width: calc(25% - 2px); /* calc can mix units*/
    height: calc(100vh); /* vh --> viewport height*/

    /* Properties */
    overflow: hidden; /* hide content out of the card*/
    text-align: center; /* Inline block on the center */
}

main#home section.card:hover {
    cursor: pointer;
}


main#home section.card img {
    position: relative; 
    height: 100vh;
    left: -50px
}

main#home section.card .card-body {
    position: absolute;
    /*Best practive :; position absolute => left + bottom */
    bottom : 5%;
    left : 0;
    z-index: 1;

    width: 50%;

    text-indent: 20px;
    border-left : 3px solid white;
    
    color : white; /* text color */
    text-align: left;
    font-family : monospace;
}

main#home section.card .card-body h2 {
    font-size: 1.2em
}

main#home section.card:hover .card-body h2{
    font-size: 1.6em;
}
