main#loading {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: red;  

    background: linear-gradient(-45deg, #d3bf06, #d3bf06, #EE7752, #E73C7E, #23A6D5, #000000);
    background-size: 500% 500%;
    -webkit-animation: Gradient 10 cubic-bezier(0.75, 0.25, 0.25, 0.75) infinite;
    -moz-animation: Gradient 10s cubic-bezier(0.75, 0.25, 0.25, 0.75) infinite;
    animation: Gradient 10s cubic-bezier(0.75, 0.25, 0.25, 0.75) infinite;

}

main#loading .background{
    background: url('/images/world.png') 100% 100%;
    background-position: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    color: white;
    opacity: 0.95;
}

main#loading .loader-icon {
    height: 10px;
    width: 10px;

}

main#loading .loader {
    position: absolute;
    top : calc(50% - 1em);
    height: 4px;
    left : 0;
    width: 10%;
    text-align: right;
    box-shadow:  0px 0px 3px 3px white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-radius : 0px 10px 10px 0px;

    background: linear-gradient(-45deg, #d3bf06, #d3bf06, #EE7752, #E73C7E, #23A6D5, #000000);
    background-size: 500% 500%;
    -webkit-animation: Gradient 2 cubic-bezier(0.75, 0.25, 0.25, 0.75) infinite;
    -moz-animation: Gradient 2s cubic-bezier(0.75, 0.25, 0.25, 0.75) infinite;
    animation: Gradient 2s cubic-bezier(0.75, 0.25, 0.25, 0.75) infinite;
}

main#loading span{
    position : relative;
    bottom : 2em;
    font-family: helvetica;
    font-size: 1em;
    color : white;
}

main#loading .logo {
    font-family: murder;
    color : white;
    position: absolute;
    top : 28%;
    left: 35%;
    font-size: 4em;
    transform: rotate(-45deg);
}


main#loading .sign {
    font-family: in;
    color : white;
    z-index: 1;
    position: absolute;
    bottom : 1em;
    right: 1em;
    font-size: 2em;
}