.tab.flex-module-container {
    overflow-y : hidden;
}

.tab.flex-module-container label {
    transition-property: all;
    transition-timing-function: ease-in;
    transition-delay: 1s;
}

/* Out */
.tab.flex-module-container label > input:not(:checked) ~section {
    animation-duration: .8s;
    animation-name: slideTopOut;
    opacity : 0;
}

/* In */
.tab.flex-module-container label > input:checked ~section {
    animation-duration: .8s;
    animation-name: slideTopIn;
    opacity : 1;
}

@keyframes fadeIn {
  from {
    opacity : 0;
  }

  to {
    opacity : 1;
  }
}

@keyframes fadeOut {
  from {
    opacity : 1;
  }

  to {
    opacity : 0;
  }
}

@keyframes slideIn {
  from {
    left : 100%;
  }

  to {
    left : 0;
  }
}

@keyframes slideOut {
  from {
    left : 0;
  }

  to {
    left : 100%;
  }
}

@keyframes slideTopIn {
  from {
    top : 100%;
    opacity : 1;
  }

  to {
    top : 0;
    opacity : 1;
  }
}

@keyframes slideTopOut {
  from {
    top : 0;
    opacity : 1;
  }

  to {
    top : -100%;
    opacity : 1;
  }
}
