:root {
    --danger : red;
    --success : green;
    --warning : orange;
    --primary: #004085;

    --nav-item-width : 25%;
    --nav-item-color : 25%;
    --nav-height : 60px;
    --nav-logo-width : 143px;
    --nav-logo-height : 38px;

    --font-size : 2em;

    /*Nomination exemple complexe*/
    --nav-item-default-font-color : black;
}

.button {
  --button-color: var(--primary);
}

.button.create {
  --button-color: var(--success);
}

.button.read {
  --button-color: var(--primary);
}

.button.update {
  --button-color: var(--warning);
}

.button.delete { 
  --button-color: var(--danger);
}


/* Sections conf */

body label>section {

}

label[for='create']>section {
  --section-color: var(--success);
}

label[for='read']>section {
  --section-color: var(--primary);
}

label[for='update']>section {
  --section-color: var(--warning);
}

label[for='delete']>section  {
  --section-color: var(--danger);
}