
/* Select children nav button*/
.tab label > nav.button {
    height: var(--nav-height);
    /* Hack for inlines*/ 
    line-height: var(--nav-height);
    background-color: black;
}

/* Navbar props */
.tab>nav {
    position: absolute;
    height: var(--nav-height);
    width: 100%;
    background: #EEE;
    border-bottom: 1px solid #CCC;
    z-index: 1;
}

/* Navbar logo */
.tab>nav #logo {
    position: absolute;
    width: var(--nav-logo-width);
    height: var(--nav-logo-height);
    margin: auto 20px;

    left: 0;
    /* Warning : Not supported by all navigators --> show can i use*/
    top : calc(50% - var(--nav-logo-height) / 2);

    background-image: url(https://exostic.com/images/logo.png);
    background-repeat: no-repeat;
    background-size: 143px var(--nav-logo-height);

    /* Inverse background color */ 
    filter : invert(1);
}

/* Reset box model props for nav pretty buttons*/
.tab label > nav.button.pretty-button { 
  padding : 0;
  margin:0;
  border: none;
  background: none;
  padding: 0 25px;
  font-weight: 500;
  font-size: 1.1em;
}

.tab .nav.button.pretty-button:hover {
    color : var(--nav-item-default-font-color);
}