.tab {
    position: relative;
    text-align: center;
    height: 100vh;
    border: 1px solid #AAAA;
/*    padding : 10px;*/
    border-radius: 5px;
    overflow-y : auto;
    overflow-x: hidden;
}

/* label position simple */
.tab label {
    display: inline-block;
}


.tab label section {
    position: absolute;
    left: 0;
    top : 0;
    width: 100%;  
    height: 100%;  

    opacity : 0;
    /*display: none;*/

    background: var(--section-color);
}

.tab label > input:checked ~section {

}

.tab label > input:checked ~section > *{
    max-width: 500px;
}

/* FLEX BOX 
 *-container position flexbox nav 
 */



.tab.flex-module-container {
    display: flex;
}

.tab.flex-module-container label {
    display: flex;
}

/* container position flexbox section */
.tab.flex-module-container label > input:checked ~section {
    display: flex;
    align-items: center;
    justify-content: center;

    /*opacity : 1;*/
}


/* Change letters orders with flexbox */

.tab .flex-module-item {
    
}

.tab .flex-module-item[for="create"] {
    order : 1;
}

.tab .flex-module-item[for="read"] {
    order : 2;
}

.tab .flex-module-item[for="update"] {
    order : 3;
}

.tab .flex-module-item[for="delete"] {
    order : 4;
}

/** END FLEXBOX **/


/* Checked button color design */
.tab label > input:checked ~.button {
    color : var(--nav-item-default-font-color);
    background: var(--button-color);
}

.tab label input[type="checkbox"],
.tab label input[type="radio"] {
    display: none;
}

.tab label > nav {
    height: var(--nav-height);
    line-height: var(--nav-height);
    background-color: black;
}

.tab .button,
.tab input {
    width: 100%;
}

.tab label label {
    display: block;
}

@media screen and (max-width: 640px) {
    .tab.flex-module-container {
        flex-flow: row wrap;
        /* justify-content: right; */
        justify-content: space-evenly;
        flex-shrink: 0;
    }

    .tab.flex-module-container label {
        flex: 0 0 var(--nav-item-width);
    }
}

@media screen and (min-width: 640px) {
    .tab.flex-module-container {
        flex-flow: row wrap;
        justify-content: flex-end; 
    }

    .tab.flex-module-container label {
        flex: 0 0 initial;
    }

    .tab label > nav {
        height: 1em;
        line-height: var(--nav-height);
        background-color: black;
    }
}