body {
    position: relative;
    /*padding: 10px;*/
    overflow: hidden;
    font-family: 'Aloes-Rg';
    background : var(--background);
}

h1 {
    font-family: 'Aloes-Bd';
    text-align: center;
    width: 100%;
    position: absolute;
    top: 100px;
    font-size: 1.2em;
    color: white;
}

h2 {
    font-family: 'Aloes-Bd';
    font-size: 1.2em;
    margin: 20px 0;
    color: var(--section-color);
}

h3 {
    margin: 20px 10px;
}

 ::-webkit-scrollbar {
    width: 10px;
}

/* Track */
 ::-webkit-scrollbar-track {
    background: var(--section-color); 
}

/* Handle */
 ::-webkit-scrollbar-thumb {
    background: white;
    border-left: 3px solid var(--section-color);
    border-right: 3px solid var(--section-color);
}

/* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
    background: white; 
}

 ::-webkit-scrollbar {
    width: 10px;
}


textarea {
    overflow-x: hidden;
}